.listItem {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin-top: 30px;
    text-align: center;
}

.orderOutput{
    text-align: center;
}

.noBullet {
    list-style-type: none;
}
